// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$header-height: 300px !default;

@mixin vertical-align() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

html {
    background-color: gray;
}

body {
    margin: 0 15em;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: white;
}

* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    // border: 1px solid red;
}

.row {
    // Responsive Grid
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    // END Responsive Grid
}

.header {
    
    width: 100%;
    margin: 0 auto;
    height: $header-height;
    display: inline-flex;
    position: relative;

    .image-container {
        height: 100%;
        background: url(./profile.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0;
    }

    .personal-information {
        height: 100%;
        position: relative;
    }

    .contact-details {
        background: rgba(0, 0, 0, 0.5);
        min-height: 40px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
    }
}

.contents {
    
    .row {
        margin-top: 20px;
        height: auto;
    }

    h2, h3, h5, h4, h6 {
        margin: 0;
        margin-bottom: 10px;
    }

    .hr-black {
        border-bottom: 2px solid black;
    }
}

.no-padding {
    padding: 0 !important;
}

.progresbar {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
    
    .progresbar-value {
        height: 100%;
        border-radius: 15px;
        background-color: black;
    }
}

.vertical-align {
    @include vertical-align();
}

.border-top-bottom {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}